@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(https://fonts.gstatic.com/s/oxygen/v9/2sDcZG1Wl4LcnbuCNWgzaGW8.ttf) format('truetype');
}
* {
  font-family: 'Oxygen';
}
h1.purpleLight,
h2.purpleLight,
h3.purpleLight,
h4.purpleLight,
p.purpleLight {
  color: #7E6C92;
}
h1.purpleDark,
h2.purpleDark,
h3.purpleDark,
h4.purpleDark,
p.purpleDark {
  color: #453B58;
}
a {
  color: #7E6C92;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #453B58;
}
button.white,
.a_button.white {
  background-color: white;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
button.white h3,
.a_button.white h3,
button.white p,
.a_button.white p,
button.white svg,
.a_button.white svg {
  color: #453B58;
}
button.white:hover,
.a_button.white:hover {
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
}
button.white:hover h3,
.a_button.white:hover h3,
button.white:hover p,
.a_button.white:hover p,
button.white:hover svg,
.a_button.white:hover svg {
  color: white;
}
button.purpleDark,
.a_button.purpleDark {
  background-color: #453B58;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleDark h3,
.a_button.purpleDark h3,
button.purpleDark p,
.a_button.purpleDark p,
button.purpleDark svg,
.a_button.purpleDark svg {
  color: white;
}
button.purpleDark:hover,
.a_button.purpleDark:hover {
  background-color: #7E6C92;
  text-decoration: none;
  transition: all 0.5s ease;
}
button.purpleLight,
.a_button.purpleLight {
  background-color: #7E6C92;
  border: 0;
  transition: all 0.5s ease;
}
button.purpleLight h3,
.a_button.purpleLight h3,
button.purpleLight p,
.a_button.purpleLight p,
button.purpleLight svg,
.a_button.purpleLight svg {
  color: white;
}
button.purpleLight:hover,
.a_button.purpleLight:hover {
  background-color: #453B58;
  text-decoration: none;
  transition: all 0.5s ease;
}
