@import 'global.less';

.first_view {
  background: linear-gradient(rgba(22, 25, 40, 0.5)), url('../images/milky-way-2695569_1920.jpg');
  & h2, h3 {
    color: #fff;
  }

  & .mobile {
    padding: 40px 20px;
    .button {
      button {
        display: flex;
        align-items: center;
      }
      svg {
        font-size: 1.2rem;
        line-height: 1.4;
      }
    }
  }
}
.banner {
  .pc {
    background-color: @secondary-color;
    & h3 {
      color: #fff;
    }
  }

  .mobile {
    background-color: @secondary-color;
    & p {
      color: #fff;
    }
  }
}

.second_view {
  .mobile {
    hr {
      height: 2px;
      background-color: @light-grey;
      border: 0;
    }
  }
}

.third_view {
  background: linear-gradient(rgba(22, 25, 40, 0.5)), url('../images/astronomy-1867616_1920.jpg');
  h1, h2, h3, h4 {
    color: #fff;
  }

  .learn-more {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 25%;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: #fff;
      transition: all .5s ease;
    }
    &:hover {
      cursor: pointer;
    }
    &:hover, &.active {
      &::before {
        width: 100%;
        transition: all .5s ease;
      }
    }
  }

  .dropdown {
    background-color: @dark-grey;
    padding: 20px;
  }

  .mobile {
    color: #fff;
  }
}

.fourth_view {
  padding: 50px 20px;
  div {
    p {
      color: #000;
    }
    ul {
      li:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) { 

	#home {
    .mobile {
      display: none;
    }
    .first_view {
      min-height: calc(100vh - 102px);
      & .pc {
        display: grid;
        grid-template-columns: 60% 40%;
        min-height: calc(100vh - 102px);
        justify-content: center;
      }
      & .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 80px;
        & .text {
          width: 85%;
          text-align: left;
        }
        & .buttons {
          width: 85%;
          display: flex;
          & .button {
            &:last-child {
              & a {
                & svg {
                  transition: all .2s linear;
                }
                &:hover {
                  & svg {
                    margin-left: 20px;
                    transition: all .2s linear;
                  }
                }
              }
            }
          }
        }
      }
      & .right {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          height: calc(80vh - 102px);
        }
      }
    }
    .banner {
      & h3 {
        padding: 10px 0;
      }
    }
    .second_view {
      padding: 80px 0;
    }
    .third_view {
      min-height: 80vh;
      & .pc {
        min-height: 80vh;
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
      }
      & .title {
        padding-top: 50px;
      }
      & ul.cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr;
        & .uk-card {
          display: grid;
          grid-template-rows: auto 1fr auto;
          justify-content: center;
          & img {
            margin: auto;
            height: 200px;
            padding: 30px;
          }
          & h4 {
            margin: auto;
            width: max-content;
            height: max-content;
          }
        }
        & .dropdown {
          display: inline-block;
          color: white;
        }
      }
    }
    .fourth_view {
      padding: 100px 20px;
      & p {
        font-size: 20px;
      }
      & .buttons {
        display: flex;
        margin-top: 40px;
        margin: 40px auto auto auto;
        justify-content: center;
        & .button {
          width: 250px;
          &:first-child {
            margin-right: 60px;
          }
        }
      }
    }
  }

}

/* Medium Devices, Desktops */
@media (min-width : 992px) and (max-width: 1199px){

	#home {
    .mobile {
      display: none;
    }
    .first_view {
      min-height: calc(100vh - 102px);
      & .pc {
        display: grid;
        grid-template-columns: 60% 40%;
        min-height: calc(100vh - 102px);
        justify-content: center;
      }
      & .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 80px;
        & .text {
          width: 100%;
          text-align: left;
        }
        & .buttons {
          width: 100%;
          display: flex;
          & .button {
            &:last-child {
              & a {
                & svg {
                  transition: all .2s linear;
                }
                &:hover {
                  & svg {
                    margin-left: 5px;
                    transition: all .2s linear;
                  }
                }
              }
            }
          }
        }
      }
      & .right {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          height: calc(80vh - 102px);
        }
      }
    }
    .banner {
      & h3 {
        padding: 10px 0;
      }
    }
    .second_view {
      padding: 80px 0;
    }
    .third_view {
      min-height: 80vh;
      & .pc {
        min-height: 80vh;
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
      }
      & .title {
        padding-top: 50px;
      }
      & ul.cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr;
        & .uk-card {
          display: grid;
          grid-template-rows: 0.5fr 1fr auto;
          justify-content: center;
          & h2 {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          & img {
            margin: auto;
            height: 200px;
            padding: 30px;
          }
          & h4 {
            margin: auto;
            width: max-content;
            height: max-content;
          }
        }
        & .dropdown {
          display: inline-block;
          color: white;
        }
      }
      padding-bottom: 50px;
    }
    .fourth_view {
      padding: 100px 20px;
      & p {
        font-size: 20px;
      }
      & .buttons {
        display: flex;
        margin-top: 40px;
        margin: 40px auto auto auto;
        justify-content: center;
        & .button {
          width: 250px;
          &:first-child {
            margin-right: 60px;
          }
        }
      }
    }
  }

}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px){

	#home {
    .pc {
      display: none;
    }

    .first_view {
      & .mobile {
        width: 80%;
        min-height: 30vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & .buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 30px;
          & .button {
            width: 50%;
            &:first-child {
              margin-right: 20px;
            }
          }
        }
      }
    }
    .banner {
      font-size: 22px;
    }
    .second_view {
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
    }
    .third_view {
      & .uk-list {
        & li {
          display: flex;
          align-items: center;
          & img {
            transform: scale(1.1);
          }
          font-size: 20px;
        }
      }
    }
    .fourth_view {
      & p {
        font-size: 20px;
      }
      & .buttons {
        margin: 40px auto auto auto;
        & .button {
          width: 350px;
          margin: auto;
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width: 767px){

	#home {
    .pc {
      display: none;
    }
    .first_view {
      & .buttons {
        & .button {
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
    .fourth_view {
      & p {
        font-size: 20px;
      }
      & .buttons {
        margin: 40px auto auto auto;
        & .button {
          width: 350px;
          margin: auto;
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

/* Custom, iPhone Retina */ 
@media screen and (min-width : 320px) and (max-width: 479px) {

	#home {
    .pc {
      display: none;
    }
    .first_view {
      & .buttons {
        & .button {
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
    .fourth_view {
      & p {
        font-size: 20px;
      }
      & .buttons {
        margin: 40px auto auto auto;
        & .button {
          width: 350px;
          margin: auto;
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

/* HEIGHT RESPONSIVE QUERIES */
@media screen and (min-height: 900px){

	/* PUT THE CODE HERE */ 

}

/* Tall screens */
@media screen and (min-height: 800px) and (max-height:899px){

	/* PUT THE CODE HERE */ 

}

/* Mid-height screens */
@media screen and (min-height: 500px) and (max-height: 799px){

	/* PUT THE CODE HERE */ 

}

/* Small-height screens */
@media screen and (max-height: 499px) {

	/* PUT THE CODE HERE */ 

}