<template>
  <div id="patreon-contributors">
    <div class="pc"></div>
    <div class="mobile">
      <div class="uk-breadcrumb uk-margin-medium-top uk-margin-medium-bottom uk-margin-medium-left">
        <li><router-link :to="{ name: 'home' }">Home</router-link></li>
        <li><span><b>Patreons</b></span></li>
      </div>
      <h2 class="purpleLight uk-text-left uk-margin-medium-left title"><b>Patreons</b></h2>
      <h3 class="uk-text-left uk-margin-medium-left tier-title"><b>Tier I</b></h3>
      <div class="flexbox uk-text-left uk-margin-medium-left uk-margin-medium-right">
        <div class="box">
          <h4><b>Become a Patreon</b></h4>
          <p><a href="//patreonlink/tier1" target="_blank">Get Started</a></p>
        </div>
        <hr>
      </div>
      <h3 class="uk-text-left uk-margin-medium-left tier-title"><b>Tier II</b></h3>
      <div class="flexbox uk-text-left uk-margin-medium-left uk-margin-medium-right">
        <div class="box">
          <h4><b>Become a Patreon</b></h4>
          <p><a href="//patreonlink/tier2" target="_blank">Get Started</a></p>
        </div>
        <hr>
      </div>
      <h3 class="uk-text-left uk-margin-medium-left tier-title"><b>Tier III</b></h3>
      <div class="flexbox uk-text-left uk-margin-medium-left uk-margin-medium-right">
        <div class="box">
          <h4><b>Become a Patreon</b></h4>
          <p><a href="//patreonlink/tier3" target="_blank">Get Started</a></p>
        </div>
        <hr>
      </div>
      <div class="contribute uk-margin-medium-top uk-margin-medium-bottom">
        <h3><b>Want to contribute?</b></h3>
        <div class="button uk-width-2-3 uk-padding-remove-horizontal uk-margin-auto">
          <a href="//gitlab.com/odeyr" target="_blank" class="a_button purpleLight uk-padding-small uk-width-full uk-flex uk-flex-middle uk-flex-center">
            <h3 class="uk-margin-remove-vertical">Get Started</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped src="../assets/css/patreon-contributors.css"></style>
<script>
export default {
  name: 'Patreons'
}
</script>
