<template>
  <div id="navbar">
    <div class="pc">
      <div class="left uk-width-3-4">
        <div class="logo uk-width-auto uk-margin-small-top uk-margin-small-bottom">
          <router-link :to="{ name: 'home' }"><img src="@/assets/images/logos/LogoDetailed.png" style="width: 80px; height: 80px;"></router-link>
        </div>
        <div class="list uk-width-3-4 uk-flex uk-flex-middle">
          <ul class="uk-list uk-margin-remove">
            <li><router-link :to="{ name: 'home' }" class="link"><h4>Home</h4></router-link></li>
            <li><router-link :to="{ name: 'patreons' }" class="link"><h4>Patreons</h4></router-link></li>
            <li><a href="//docs.odeyr.org" target="_blank" class="uk-flex link"><h4>Docs</h4><i class="fas fa-external-link-alt"></i></a></li>
            <li><a href="//gitlab.com/odeyr/" target="_blank" class="uk-flex link"><h4>Contribute</h4><i class="fas fa-external-link-alt"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="right uk-width-1-4 uk-flex uk-flex-middle uk-flex-right">
        <div class="patreon">
          <a href="//patreonlink/odeyr">
            <img src="@/assets/images/patreon_button.png" alt="patreon button">
          </a>
        </div>
        <div class="signup uk-margin-medium-left">
          <a href="//dashboard.odeyr.org" class="link">
            <h4 class="uk-margin-remove">Signup</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="mobile uk-flex uk-position-relative">
      <div class="left uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
        <div class="icon" type="button" uk-toggle="target: #offcanvas-push">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <div class="middle uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
        <div class="logo">
          <router-link :to="{ name: 'home' }"><img src="@/assets/images/logos/LogoDetailed.png" style="width: 80px; height: 80px;"></router-link>
        </div>
      </div>
      <div class="right uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
        <div class="icon">
          <a href="//dashboard.odeyr.com">
            <i class="fas fa-sign-in-alt"></i>
          </a>
        </div>
      </div>
    </div>
    <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true;" class="menu-dropdown uk-flex uk-flex-center uk-flex-middle mobile_offcanvas">
      <div class="list uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-list uk-margin-medium-top">
          <li><router-link :to="{ name: 'home' }"><h3>Home</h3></router-link></li>
          <li><router-link :to="{ name: 'patreons' }"><h3>Patreons</h3></router-link></li>
          <li><a href="//docs.odeyr.org"><h3>Docs</h3><i class="fas fa-external-link-alt"></i></a></li>
          <li><a href="//gitlab.com/odeyr/"><h3>Contribute</h3><i class="fas fa-external-link-alt"></i></a></li>
          <li><a href="//patreonlink/contribute"><h3>Become a Patreon</h3><i class="fas fa-external-link-alt"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<style scoped src="../assets/css/navbar.css"></style>
<script>

export default {
  name: 'Navbar',
  data() {
    return {
      isMenuOpen: false
    }
  },
  beforeCreate() {
    this.isMenuOpen = false;
  }
}
</script>